 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:ital,wght@0,500;1,300;1,400&family=Rubik+Bubbles&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 body{
font-family: 'Anton', sans-serif;
font-family: 'Kaisei Tokumin', serif;
font-family: 'Poppins', sans-serif;
background-color:whitesmoke;

    

 }
 /* navbar start */
 
.nav-logo{
    width: 300px;
    position: relative;
    right: 50px;
    
    
    
}
#myImage {
    width: 300px;
    height: 118px;
    position: relative;
    animation: move 2s ease-in-out ;
  }
  
  @keyframes move {
    from {
      width: 0px;
    }
    to {
      height: 118px;
    }
  }
  
  
.navbar {
    background-color: rgba(255, 255, 255, 0.9) !important; /* Arka planı %80 saydam beyaz yapar */
}





.log{
    display: flex;
    position: relative;
    
    
    
}
.log a{
    font-size: 14px;
    padding-left: 8px;
    text-decoration: none;
    color: rgb(135, 95, 20);

}
.navbar{
    box-shadow: 0 3px 9px 3px rgb(0, 0, 20);
    
}
/* navbar finsih */

.anasayfa-enlink:hover{
    color: rgb(241, 68, 68) !important;
    box-shadow: inset 200px 0 0 0 #f4f4f4;
    color: white;


}
/* header */
#header{
    padding-top: 104px;
    
    
   
    background-repeat: no-repeat;
   margin-top: 70px;
    width: 100%;
   
    
    
}
#res-son{
    width: 100%;
    height: 500px;
}
.title h2{
    background-color: rgba(169, 72, 72, 0.411);
    color: rgb(255, 0, 0);
    position: relative;
    bottom: 130px;
    font-family:'Kaisei Tokumin', serif ;

}
/* header finish */
/* Collection start */
.grup{
    position: relative;
    bottom: 140px;
    color: #0000ff;
    font-size: large;
    margin-left: 20px;
}

.hov-res img:hover{
    width: 300px !important ;
    height: 450px; 

}

/* footer start */
footer{
    background-color: #0000ff !important;

}

a{
    text-decoration: none;
}





